@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@500&display=swap');

.container {
    margin: 0;
    height: 85vh; /* Full height of the viewport */
    display: flex; /* Use flexbox to center the content */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text within the container */
}

.moto {
    font-family: "Tourney", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 50px;
    margin: 0; /* Remove margin to ensure it's flush with the button */
    width: 60%;
    height: 50vh;
    background-image: url('src/assets/main-logo.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 5px 26px #505d6b ;
}

.button {
    background: linear-gradient(90deg, #618ebd, #d390dc);
    padding: 20px;
    border-radius: 20px;
    color: rgb(255, 235, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 20px; /* Space between the button and the .moto div */
    transition:  background 1s ease ;
    border: none;
    box-shadow: 0 5px 26px #533e53 ;
}

.button:hover{
    background: linear-gradient(180deg, #d390dc,#629edd);
    color: rgb(255, 255, 255);
}
